*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* N A V B A R */
.bg-dark-grey{
    background-color: #353a40;
}

.nav-link{
    font-weight: 400;
    font-size: 16px;
}

/* C A R R U S E L*/
.carrusel{
    position: relative;
}

.carousel-inner{
    height: 98vh;
    position: relative;
}

.carousel-item{
    height: 100%;
    width: 100%;
}

.carousel-item:before{
    content: "";
    height: 98vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.5;
}

.carousel-texto{
    position: absolute;
    top: 40vh;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 600px;
    color: #fff;
}

.carousel-texto h5{
    text-align: right;
    font-size: 2rem;
}
.carousel-texto p{
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.carrusel-butons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.carrusel-butons a{
    text-decoration: none;
}

.btn-success{
    background-color: #29a744;
    margin-left: 15px;
}

/* S E C C I O N   O R A D O R E S */
.oradores{
    margin: 20px auto 20px;
    width: 75vw;
    height: auto;
}

.oradores-title{
    width: 20vw;
    text-align: center;
    text-transform: uppercase;
    margin: 4px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.oradores-title h3{
    font-size: 13px;
    font-weight: 100;
    display: block;
}

.oradores-title h1{
    font-size: 30px;
    font-weight: 500;
}

.content-oradores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card > img{
    height: 60%;
    object-fit: cover;
}

.btn-info{
    background-color: #16a1b8;
    border-color: #16a1b8;
}

.javascript, .react{
    font-weight: 700;
    font-size: 16px;
    padding: 0px !important;
}

.react{
    color: #fff;
}

/* S E C C I O N   T U R I S M O */
.card-text{
    text-align: left;
    font-size: 15px;
}

/* S E C C I O N   F O R M U L A R I O */
#form{
    width: 50vw;
    margin: 5px auto 15px;
}

#form input::placeholder{
    font-size: 14px;
}

#form textarea::placeholder{
    font-size: 20px;
}

.text-muted{
    font-size: 12px;
}

.btn-form{
    background-color: #96c93e;
    color: #fff;
    font-size: 20px;
}

/* F O O T E R */
.footer{
    background-color: #1b3745;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.footer-section{
    margin: 5px 24px;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.footer-section a:hover{
    color: #000;
    transform: scale(1.10);
}

@media only screen and (max-width: 768px) {
    .footer-content {
        margin: 8px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-section{
        width: 25%;
        height: 12%;
        margin: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-section a{
        font-size: 12px;
    }
}
